/* NAVBAR START */
nav {
    color: white;
    background-color: #a7bed3;
    background-size: cover;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
    width: 100%
}

nav img {
    width: 70px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 100%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    font-size: medium;
    text-decoration: none;
    padding: 10px 16px;
}

nav ul li a:hover {
    background: linear-gradient(45deg, #a7bed3c2, #fcf5c7b9);

}


body.HomePage {

    background: linear-gradient(45deg, #a7bed3c2, #fcf5c7b9);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
}

/* FOOTER START */
footer {
    background-color: rgb(128, 70, 0)590;
    color: rgb(36, 29, 29);
    text-decoration: none;
    text-align: center;
    bottom: 0;
    /* in the end position 0*/
    width: 100%;

}

/* DIV IN HOMEPAGE */

div.homePageDiv0 {
    background-image: url(../images/reading.jpg);
    margin: 0%;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    
}

    .title-word {
        animation: color-animation 4s linear infinite;
      }
      
      .title-word-1 {
        --color-1: #DF8453;
        --color-2: #3D8DAE;
        --color-3: #E4A9A8;
      }
      
      .title-word-2 {
        --color-1: #DBAD4A;
        --color-2: #ACCFCB;
        --color-3: #17494D;
      }
      
      .title-word-3 {
        --color-1: #ACCFCB;
        --color-2: #E4A9A8;
        --color-3: #ACCFCB;
      }
      
      .title-word-4 {
        --color-1: #3D8DAE;
        --color-2: #DF8453;
        --color-3: #E4A9A8;
      }
      
      @keyframes color-animation {
        0%    {color: var(--color-1)}
        32%   {color: var(--color-1)}
        33%   {color: var(--color-2)}
        65%   {color: var(--color-2)}
        66%   {color: var(--color-3)}
        99%   {color: var(--color-3)}
        100%  {color: var(--color-1)}
      }
      
      /* Here are just some visual styles. 🖌 */
      
      .wordcontainer {
        display: grid;
        place-items: center;  
        text-align: center;
        height: 70vh
      }
      
      .title {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 7.5vw;
        text-transform: uppercase;
      }


div.homePageDiv1 h3{
    color: #346a9c;
    font-size: x-large;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 40%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: auto;
}

div.HomePage1 ul {
    position: absolute;
    margin-top: 70px;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;

}

div.homePageDiv1 ul li {
    display: block;
    text-align: right;
    padding-right: 100px;

}

div.homePageDiv1 ul li a {
    color: rgb(71, 62, 50);
    font-size: large;
    text-decoration: none;
    padding: 10px;
}

div.homePageDiv1 ul li a:hover {
    background: linear-gradient(45deg, #ffe2c8d4, #ffc7d7c7);
    color: #346a9c;
    transition: .2s ease;
    font-size: large;
    text-decoration: none;
    padding: 10px;
}

/* LOGIN PAGE */
body.loginpage {
    background-image: url(../images/profileW.jpg);

    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    z-index: 1;
}

.login-container {
    background: linear-gradient(45deg, #ffe2c8d4, #ffc7d7c7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.login-container:hover {
    transform: scale(1.05);
}

h2 {
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #888;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #a7bed3;
}

button {
    background-color: #a7bed3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fcf5c7;
}

form#loginForm span {
    color: red;
    font-size: 15px;
    margin-bottom: 20px;
}